:root {
  --clr-brown: rgb(35,28,7);
  --clr-white: whitesmoke;

  --ff-main: Uchen;

  --fs-main-title: 4.375rem;
  --fs-title: 3.125rem;
  --fs-caption: 1.875rem;
  --fs-content: 1.25rem;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Uchen;
  color: rgb(35, 28, 7);
}

h1,
h2,
h3,
p,
a {
  text-decoration: none;
  font-style: none;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: var(--fs-main-title);
}

h2 {
  font-size: var(--fs-title);
}

a {
  color: rgb(90, 75, 31);
}

a:visited {
  color: rgb(90, 75, 31);
}

/* image container */
.image-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}

/* for hero landing and web dev image section */
.hero-image-container {
  display: flex;
  position: relative;
  width: 75%;
}

.hero-image {
  overflow: hidden;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 5% 2.5%;
}

/* for general on content containers */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 25%;
}

.title {
  font-size: 3.125rem;
  position: relative;
  text-align: left;
  margin: 0 5% 0 5%;
}

.content {
  font-size: 20px;
  position: relative;
  text-align: justify;
  margin: 0 5% 0 5%;
}

/* utility */
.--reverse-img {
  transform: scaleX(-1);
}

.--bg-clr-brown {
  background-color: var(--clr-brown);
}

.--bg-clr-white {
  background-color: var(--clr-white);
}

.--fc-white {
  color: var(--clr-white);
}









/* under construction

.arrow-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin-top: 20px;
}

.arrow {
	position: relative;
	width: 30px;
	height: 30px;
	background: transparent;
	border-top: 8px solid rgb(35, 28, 7);
	border-right: 8px solid rgb(35, 28, 7);
  border-left: none;
  border-bottom: none;
  transform: rotate(135deg);
  margin-left: 7.5%;
}

.arrow:hover {
  cursor: pointer;
}

.web-developer-arrow-container,
.personal-statement-arrow-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin-top: 20px;
}

.personal-statement-arrow {
	position: relative;
	width: 30px;
	height: 30px;
	background: transparent;
	border-top: 8px solid whitesmoke;
	border-right: 8px solid whitesmoke;
  border-left: none;
  border-bottom: none;
  transform: rotate(135deg);
  margin-left: 7.5%;
}

.personal-statement-arrow:hover {
  cursor: pointer;
}

*/