.personal-statement-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
}

.personal-statement-images-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

.personal-statement-top-images-container {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
}

.personal-statement-bottom-images-container {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
}

.katana {
  height: 90%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  margin: 2.5%;
}

.house {
  height: 90%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  margin: 2.5%;
}

.frog {
  height: 80%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  margin: 2.5%;
}

.cap {
  height: 90%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  margin: 2.5%;
}