.skills-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 200%;
}

.skills-images-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 75%;
  background-color: rgb(35, 28, 7);
}

.skills-icons {
  width: 20vh;
  height: 20vh;
  object-fit: contain;
  overflow: hidden;
}

.skills-title-and-content-container {
  background-color: whitesmoke;
  color: rgb(35, 28, 7);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 25%;
}

.game-developer-container,
.web-developer-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  border-left: 3px solid whitesmoke;
}

.web-developer-container {
  margin-top: 15vh;
}

.game-developer-container {
  margin-bottom: 15vh;
}

.game-developer-label,
.web-developer-label {
  color: whitesmoke;
  font-size: 50px;
  margin-left: 1vh;
}